# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js build output
.next/
/out/

# Production
/build

# Environment variables
.env*.local
.env

# Debug / Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
*.pem
.vscode/

# Typescript
*.tsbuildinfo
next-env.d.ts

.env.example
